<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title> Acme Product Management </title>
    <!-- Stylesheets -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Library Scripts -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>

    <!-- Application Scripts -->
    <script src="app/js/app.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="mainController as mc">
    <ul>
        <li ng-repeat="item in mc.data">
            <input ng-model="item.text" ng-change="mc.data.$save(item)" />
            <button ng-click="mc.data.$remove(item)">X</button>
        </li>
    </ul>

    <form ng-submit="mc.addData(mc.newDataText)">
        <input ng-model="mc.newDataText" />
        <button type="submit">add data</button>
    </form>
</div>

</body>

</html>